/*Color Palette:
Burgundy: #420704
Rose: #a15655
Light Pink: #faf0f0
Off-White: #fdf8f8
White: #ffffff
 */

img {
  width: 100%;
}

body {
  background-color: #fdf8f8;
  font-family: 'Vollkorn-Variable';
}
h1 {
  font-family: 'VickyChristina';
}


/*FONTS*/
@font-face {
  src: url(Fonts/Vollkorn-Variable);
  font-family: 'Vollkorn-Variable';
}
@font-face {
  src: url(Fonts/Vollkorn-Italic-Variable);
  font-family: 'Vollkorn-Italic-Variable';
}
@font-face {
  src: url(Fonts/VickyChristina.otf);
  font-family: 'VickyChristina';
}
