/*Color Palette:
Burgundy: #420704
Rose: #a15655
Light Pink: #faf0f0
Off-White: #fdf8f8
White: #ffffff
 */
img {
  width: 100%;
}

body {
  background-color: #ffffff;
  font-family: 'Vollkorn-Variable';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #420704;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-family: 'VickyChristina';
  font-size: 2em
  color: #420704;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

/*LINKS*/
a {
  color: #a15655;
  text-decoration: none; /* No underlining */
}
a:visited {
  color: #b08382;
}
a:active {
  color: #a15655;
}
a:hover {
  color: #d65e5c;
  text-decoration: underline;
}
a:focus {
  color: #d65e5c;
  text-decoration: underline;
}

/*FONTS*/
@font-face {
  src: url(Fonts/Vollkorn);
  font-family: 'Vollkorn';
}

@font-face {
  src: url(Fonts/VickyChristina.otf);
  font-family: 'VickyChristina';
}

/*Buttons*/
.button {
  display: inline-block;
  background-color: #d65e5c;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 600;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #a15655; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  opacity: 0.9; /* Reduces the opacity of the button to 90% */
  background-color: #420704;
}
